<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include cabecera.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p><%= texto + '!' %></p>

    <p><%= nombre %></p>

    <h2>Condicionales</h2>
    <% if (esPar) { %>
      <p>El segundo actual es par.</p>
    <% } else { %>
      <p>El segundo actual es impar.</p>
    <% } %>

    <p>Segundo actual: <%= segundoActual %></p>

    <h2>Bucles</h2>
    <% usuarios.forEach(usuario => { %>
      <p>El agente <%= usuario.nombre %>
         tiene <%= usuario.edad %> años.
      </p>
    <% }) %> 

  </body>
</html>
